 body{
     background:linear-gradient(#636766 0%, #000000 100%);
     text-align
     :center;font-family: monospace ;
     color: white;
     
 } 
 #theo{width:450px;
    border-radius:20px;border-style:solid;border-color:red;padding:20px;
 }


  #anqui{width:450px;
    border-radius:20px;border-style:solid;border-color:blue;padding:20px;}

    #estego{width:450px;
        border-radius:20px;border-style:solid;border-color:green;padding:20px;}

        #carno{width:450px;
            border-radius:20px;border-style:solid;border-color:purple;padding:20px;}

            #espino{width:450px;
                border-radius:20px;border-style:solid;border-color:orangered;padding:20px;
                 ;
            }
            .menu{
                z-index:10;
                width: 100%;
                margin-top: 0px;
                top: 0px;

                cursor: pointer;
                position: fixed;
                background-color: white;
            }
            .links{
                float: left;
                padding-top: 5px;
                padding-right:9px;
                padding-left:9px;
                padding-bottom: 5px;
                color: rgba(80, 200, 255, 0.644);
                display: inline;
                

            }
            .links:hover{
                font-size: 20px;
                text-decoration: underline;

            }
            #mano{
                text-align: center;
            }
            #titulo{
                position: fixed;
                
                font-size: 30px;
                text-align: center;
                color: #000000;
                background-color: white;
                width: 100%;
                margin-top: 20px;
                 margin-left: 0px;
            }
            .meucarrossel img{
                height: 20px;
            }

